@import url('./css/animation.css');

:root{
  --width: 720;
  --height: 1280;
}

body {
  position: relative;
  margin: 0;
}

.flex{
  display: flex;
}

.relative{
  position: relative;
}

.position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui {
  position: absolute;
  top: 0;
  /*left: 50%; */
  width: calc(var(--width) * 1px);
  /* height: calc(var(--height) * 1px); */
  /* transform: translate(-50%, -50%) scale(var(--scale, 0)); */
  transform: scale(var(--scale, 0));
  /* transform-origin: center; */
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
}

.counter{
  transform-origin: top;
  justify-content: space-between;
}

.wave {
  font-size: 2.5rem;
}

.turn, .tension{
  font-size: 2rem;
}

.wave, .turn, .tension {
  background-color: black;
  width: fit-content;
  padding: 5px 30px;
}

.wave {
    /* top-left, top-right, bottom-right, bottom-left with x and y value */
  /* Reference from https://developer.mozilla.org/en-US/docs/Web/CSS/basic-shape/polygon */
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.turn {
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.tension {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
}

.command{
  background-color: black;
  display: grid;
  grid-template-columns: 30% 70%;  
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: unset;
  bottom: 0;
  transform-origin: bottom;
  /* transform: translate(-50%, 22%) scale(var(--scale, 0)); */
  /* width: 100%; */
}

.back, .skill-list, .item-list{
  background-color: black;
  top: unset;
  bottom: 0;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}

.avatar{
  padding: 5%;
}

.show{
  margin-bottom: 0;
}

.hide{
  margin-bottom: -100%;
}

.bar {
  background-color: black;
  color: white;
}

.hp{
  background-color: red;
  width: 100%;
}

.mp {
  background-color: blue;
  width: 100%;
}

.atb > .inner {
  background-color: steelblue;
  width: 0px;
  height: 100%;
  transition: width linear 0.1s;
}

.done {
  background-color: turquoise;
}

.action{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  padding: 1%;
}

.skill-item{
  margin: 1%;
  cursor: pointer;
}

.skill-name{
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.skill-name > label{
  background-color: black;
  width: fit-content;
  font-size: 1.5rem;
  padding: 1%;
}

.not-enough{
  color: red;
  pointer-events: none;
}

/* .action > div {
  height: calc(var(--width) * 0.33px);
  transform: scale(var(--scale, 0));
} */
